section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
}

.home__title{
    font-size: 100px;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 20px;
    
}



.home__button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: var(--btn-primary-bg);
    border-radius: 10px;
     transition: background-color 0.5s ease-in-out;
}

.home__button:hover{
    background-color: var(--btn-primary-hover-bg);
}

.typed{
   animation: blink 0.7s steps(1) infinite   ;
}

@keyframes blink {
    50%{
        border-radius: transparent;
    }
}

.cursor{
    display: inline-block;
    margin-left: 2px;
    color: var(--text-primary);
    animation: cursor_blink 0.8s step(1) infinite   ;
}

@keyframes  cursor_blink{
    0%, 50%, 100%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0;
    }
}


@media (max-width: 500px){
    .home__title{
        font-size: 50px;
    }
    section{
        padding: 20px;
    }
    .home__button{
        padding: 8px 16px;
    }

    
}